<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Jose Sanchez - Lista de Clientes </a>
    </div>
</nav>

<div class="container py-15">

    <fieldset class="border p-2 mb-1 mt-2 filters">
        <legend class="w-auto h6">Clientes</legend>


        <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-end">

            <button type="button" class="btn btn-block btn-info " (click)="btnAddClients()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Agregar
            </button>

        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody *ngIf="objGetClient.length > 0 else TablaVacia">

                <tr *ngFor="let item of objGetClient;" (click)="dataClientRow(item)">

                    <td>{{ item.id }}</td>
                    <td>{{ item.identificacion }}</td>
                    <td>{{ item.primer_nombre + ' ' +item.segundo_nombre }}</td>
                    <td>{{ item.apellidos }}</td>
                    <td>{{ item.correo }}</td>
                    <td>
                        <button type="button" class="btn btn-success me-1" (click)="btnUpdateClient(item)"><i
                                class="fas fa-edit"></i>Editar</button> 
                        <button type="button" class="btn btn-danger" (click)="deleteClientRowConfirm(item)"
                            title="Eliminar Cliente"><i class="far fa-trash-alt"></i>Borrar</button>
                    </td>
                </tr>

            </tbody>
            <ng-template #TablaVacia>
                <tbody>
                    <tr class="body-empty">
                        <td colspan="7">No hay datos para mostrar</td>
                    </tr>
                </tbody>
            </ng-template>
        </table>

        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="false"
        [pageSize]="pageSize" class="d-flex justify-content-center"
        (pageChange)="loadPage(page)"></ngb-pagination>

    </fieldset>
</div>




<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Datos del cliente</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <form [formGroup]="clientViewForm">

                            <div class="row">
                                <div class="col-sm-12" hidden>
                                    <label for="exampleInputId" class="form-label">Id</label>
                                    <input formControlName="fcn_id" type="number" class="form-control"
                                        id="exampleInputId" [ngModel]="clientForm.id" readonly="true">
                                </div>

                                <div class="col-sm-12">
                                    <label for="exampleInputIdentificacion" class="form-label">Cedula</label>
                                    <input formControlName="fcn_identification" type="text" class="form-control"
                                        id="exampleInputIdentificacion" [ngModel]="clientForm.identificacion">
                                </div>

                                <div *ngIf="fcn_identification.invalid && ( fcn_identification.dirty || fcn_identification.touched )"
                                    class="text-danger">
                                    <div *ngIf="fcn_identification.errors?.['longitudInvalida']">
                                        La longitud máxima permitida es de {{ longitudMaximaCedula }} caracteres.
                                    </div>
                                    <div *ngIf="fcn_identification.errors?.['required']">
                                        Cedula es requerido.
                                    </div>

                                    <div *ngIf="fcn_identification.errors?.['pattern']">
                                        Solo se permiten numeros en este campo.
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <label for="exampleInputNombre" class="form-label">Primer Nombre</label>
                                    <input formControlName="fcn_nombre" type="text" class="form-control"
                                        id="exampleInputNombre" [ngModel]="clientForm.primer_nombre">
                                </div>

                                <div *ngIf="fcn_nombre.invalid && ( fcn_nombre.dirty || fcn_nombre.touched )"
                                    class="text-danger">


                                    <div *ngIf="fcn_nombre.errors?.['longitudInvalida']">
                                        La longitud máxima permitida es de {{ longitudMaximaNombre }} caracteres.
                                    </div>

                                    <div *ngIf="fcn_nombre.errors?.['required']">
                                        Nombre es requerido.
                                    </div>

                                    <div *ngIf="fcn_nombre.errors?.['pattern']">
                                        Solo se permiten letras en este campo.
                                    </div>


                                </div>



                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="exampleInputNombre" class="form-label">Segundo Nombre</label>
                                    <input formControlName="fcn_segundo_nombre" type="text" class="form-control"
                                        id="exampleInputSegundoNombre" [ngModel]="clientForm.segundo_nombre">
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="exampleInputApellido" class="form-label">Apellido</label>
                                    <input formControlName="fcn_apellido" type="text" class="form-control"
                                        id="exampleInputApellido" [ngModel]="clientForm.apellidos">
                                </div>

                                <div *ngIf="fcn_apellido.invalid && ( fcn_apellido.dirty || fcn_apellido.touched )"
                                    class="text-danger">

                                    <div *ngIf="fcn_apellido.errors?.['longitudInvalida']">
                                        La longitud máxima permitida es de {{ longitudMaximaApellido }} caracteres.
                                    </div>

                                    <div *ngIf="fcn_apellido.errors?.['required']">
                                        Apellido es requerido.
                                    </div>

                                    <div *ngIf="fcn_apellido.errors?.['pattern']">
                                        Solo se permiten letras en este campo.
                                    </div>

                                </div>

                                <div class="col-sm-12">
                                    <label for="exampleInputCorreo" class="form-label">Correo</label>
                                    <input formControlName="fcn_correo" type="text" class="form-control"
                                        id="exampleInputCorreo" [ngModel]="clientForm.correo">
                                </div>

                                <div *ngIf="fcn_correo.invalid && ( fcn_correo.dirty || fcn_correo.touched )"
                                    class="text-danger">
                                    <div *ngIf="fcn_correo.errors?.['required']">
                                        Correo es requerido.
                                    </div>
                                </div>
                            </div>

                           

                        </form>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button (click)="accionEditarGuardar()" type="submit" class="btn btn-info">
                    {{ ActionBtn }}
                </button>
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>